
<div ng-controller="editaController">
    <form ng-show="isEditavel()">
        <fieldset>
            <div class="form-group">
                <label for="codigo">
                    Código
                </label>
                <input id="codigo" type="text" ng-model="editar.cliente.Codigo"  class="form-control" />
            </div>
            <div class="form-group">
                <label for="nome">
                    Nome
                </label>
                <input id="nome" type="text" ng-model="editar.cliente.Nome" required class="form-control" />
            </div>            
            <div class="form-group">
                <label for="documento">
                    CPF/CNPJ
                </label>
                <input id="documento" type="text" ng-model="editar.cliente.Documento" onkeypress='mascaraMutuario(this,cpfCnpj)' class="form-control"/>
            </div>
            <div class="form-group">
                <label for="telefone">
                    Telefone
                </label>
                <input id="telefone" type="text" ng-model="editar.cliente.Telefone" onkeypress='mascara(this, mtel)' required min="10" max="15" maxlength="15" class="form-control" />
            </div>
            <button class="btn btn-primary" ng-click="salvar()">Salvar</button>
            <button class="btn btn-danger" ng-click="cancelar()">Cancelar</button>
        </fieldset>
    </form>
</div>