<div ng-controller="listaController">
    <table class="table">
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>CPF/CNPJ</th>
            <th>Telefone</th>
        </tr>
        <tr ng-repeat="cli in clientes"> 
            <td>{{cli.Codigo}}</td>
            <td>{{cli.Nome}}</td>
            <td>{{cli.Documento}}</td>
            <td>{{cli.Telefone}}</td>
            <td>
                <a class="btn btn-primary" ng-href="#!detalhes/{{cli.Id}}">Detalhes</a>
                <button class="btn btn-danger" ng-click="deleta(cli)">Deletar</button>
            </td>
        </tr>
    </table>
    <button class="btn btn-success" ng-click="criar()">Novo Cliente</button>
    <div ng-include="'/Cliente/html/edita.html'"></div>
</div>