
<div class="jumbotron">
    <h4>HBSIS</h4>
</div>
<div ng-app="app">
    <ng-view></ng-view>
</div>

@section scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/App/js/clientes.js"></script>
    <script src="~/App/js/listaController.js"></script>
    <script src="~/App/js/detalhesController.js"></script>
    <script src="~/App/js/clientService.js"></script>
}